h1 {
    background-color: cyan;
    padding: 20px 5px;
    font-size: 30px;
    text-align: center;
}
footer {
    padding: 20px 10px;
    background: #333;
    color: white;
    text-align: center;
}